# Виртуальное окружение
venv/
ENV/
env/

# Кэш компиляции Python (создается при запусках unittest)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Локальные системные файлы операционных систем
.DS_Store
Thumbs.db

# PyCharm / IntelliJ
.idea/
*.iml

# Логи
logs/
Logs/
*.log

# Вложенная копия проекта (на всякий случай)
PTPM-VKI/
